.solve-button{
    border-radius: 0.5rem;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.solve-button:hover{
    color: rgb(49, 148, 255);
}