@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
  .solve-button{
    border: 1px solid #ffffff;
  }
  .solve-button:hover{
    box-shadow: rgb(255, 255, 255) 0px 0px 10px;
  }
  .dropdown-content{
    background-color: var(--background);
  }

}

@media (prefers-color-scheme: light) {
  :root {
  --background: #ffffff;
  --foreground: #171717;
  }
  .solve-button{
    border: 1px solid var(--color-gray-300);
  }
  .solve-button:hover{
    box-shadow: rgb(0, 0, 0) 0px 0px 10px;
  }
  .dropdown-content{
    background-color: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.layout {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  padding: 1rem;
  }

.homepage {
  display: flex;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10rem;
  padding: 2rem;
}