.search-box{
    display: absolute;
    flex-direction: column;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

.search-input{
    display: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

.autofill-content{
    display: absolute;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    max-height: 38vh;
    overflow-y: auto;
    scrollbar-width: 12px;
    scrollbar-color: #888 #f1f1f1;
    background-color: rgb(28, 28, 28);
    

}

.autofill-item{
    padding: 0.5rem;
    cursor: pointer;
}

.autofill-item:hover{
    color: rgb(49, 148, 255);
}